.mdl-layout__container {
  height: 100%;
}

.mdl-card {
  overflow: visible;
}

.full .mdl-card__title {
  height: 64px;
}

.full .mdl-card__title .mdl-textfield__input, .full .mdl-card__title .mdl-textfield__label {
  font-size: 24px;
}

.full .mdl-card__title .mdl-textfield {
  width: 100%;
}


.full .mdl-card__title button {
  right: 16px;
  position: absolute;
}

#show-dialog {
  right: -16px;
  position: relative;
}

.full .mdl-card__media {
  padding: 16px;
}

#tags-dialog {
  z-index: 8;
}

.tried {
  height: 32px;
  overflow: hidden;
}

.tried > span {
  display: inline-block;
  line-height: 32px;
}

.mdl-card__media .description {
  width: 100%;
}

.attach {
  margin: 8px 0;
  height: 36px;

}

input[type="file"] {
    display: none;
}

.attach #attachments {
  position: absolute;
  margin-left: 4px;
  height: 32px;
  width: calc(100% - 36px);
  display: inline-block;
  overflow: hidden;
}

.attach #attachments > *{
  margin-left: 4px;
}

.attach #no-attachments {
  line-height: 32px;
  color: rgba(0, 0, 0, .54);
}

.notice {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.notice .switch-container {
  display: inline-block;
  margin-right: 8px;
  bottom: 16px;
  position: absolute;
  padding: 4px 0;
}

.switch {
  display: inline-block;
  width: 36px;
  height: 24px;

}

.notice .mdl-textfield  {
	display: inline-block;
	left: 160px;
  width: calc(100% - 208px);
}

.notice #aletrnative_email-info {
  color: rgba(0, 0, 0, 0.87);
}

.notice .alternative_email-info {
  height: 32px;
  position: absolute;
  bottom: 16px;
  float: right;
  right: 0;
  display: inline-block;
  padding-top: 4px;
}

.mdl-card__media > .mdl-button {
  float: right;
  margin-bottom: 16px;
}

.tags {
  display: inline-block;

  margin: 8px 0;
}

.tag {
  display: inline-block;
  width: 192px;
  height: 32px;
  float: left;
}
