.full .mdl-card__title .mdl-card__title-text{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mdl-card__title-text.closed {
	width: calc(100% - 104px)
}

.mdl-card__title-text.unassigned {
	width: calc(100% - 156px)
}

.mdl-card__title-text.open {
	width: calc(100% - 87px)
}

.full .mdl-card__title .status {
	position: absolute;
	right: 16px;
	top: 19px;

	font-size: 24px;

	font-weight: bold;
}

span.closed {
	color: #F44336;
}

span.unassigned {
	color: #FF9800;
}

span.open {
	color: #4CAF50;
}

.mdl-card__media {
	padding: 16px;
}

.mdl-card__media.mdl-card--border {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.top_row {
	height: 32px;
	margin-bottom: 16px;
	overflow: hidden;
}

.top_row > * {
	display: inline-block;
}

.top_row > .tags_info {
	position: absolute;
  line-height: 32px;
}

.top_row > .chips {
	margin-left: 64px;
	width: calc(100% - 192px);
}

.top_row > .issue_created {
	line-height: 32px;
	float: right;
}

.notice {
	position: relative;
  height: 48px;
  margin: 8px 0;
  display: inline-block;
  width: 100%;
}

.notice .switch-container {
	display: inline-block;
  margin-right: 8px;
  bottom: 8px;
  position: absolute;
}

.switch {
  display: inline-block;
  width: 36px;
  height: 24px;

}

.notice .mdl-textfield  {
	display: inline-block;
  position: relative;
  top: -8px;
  left: 148px;
  width: calc(100% - 184px);
}

.notice #aletrnative_email-info {
  color: rgba(0, 0, 0, 0.87);
}

.notice .alternative_email-info {
	height: 32px;
	bottom: 8px;
	margin-top: 12px;
	float: right;
	right: 0px;
	display: inline-block;
}

#save-button {
	float: right;
}

.mdl-card__actions {
	padding: 16px;
}

#create-comment {
	height: 64px;
	overflow: hidden;
}

#create-comment .avatar {
	font-size: 32px;
	margin: 16px;
}

#create-comment .mdl-textfield {
	top: -8px;
	width: calc(100% - 140px);
}

#create-comment button {
	float: right;
	margin: 16px;
}
