.full .mdl-card__title .mdl-card__title-text{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mdl-card__title-text.closed {
	width: calc(100% - 104px)
}

.mdl-card__title-text.unassigned {
	width: calc(100% - 156px)
}

.mdl-card__title-text.open {
	width: calc(100% - 87px)
}

.full .mdl-card__title .status {
	position: absolute;
	right: 16px;
	top: 19px;

	font-size: 24px;

	font-weight: bold;
}

span.closed {
	color: #F44336;
}

span.unassigned {
	color: #FF9800;
}

span.open {
	color: #4CAF50;
}

.mdl-card__media {
	padding: 16px;
}

.notice {
  margin: 8px 0;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.notice .switch-container {
	display: inline-block;
	margin-right: 8px;
	bottom: 8px;
	position: absolute;
	padding: 4px 0;
}

.switch {
  display: inline-block;
  width: 36px;
  height: 24px;

}

.notice .mdl-textfield  {
	display: inline-block;
	position: absolute;
	left: 160px;
  width: calc(100% - 208px);
}

.notice #aletrnative_email-info {
  color: rgba(0, 0, 0, 0.87);
}

.notice .alternative_email-info {
  height: 32px;
  position: absolute;
  bottom: 8px;
  float: right;
  right: 16px;
  display: inline-block;
  padding-top: 4px;
}
